// Import Custom Fonts and set defaults
@import "fonts";
$headerFontFamily: quote($headerFamily), sans-serif;
$bodyFontFamily: quote($bodyFamily), sans-serif;

$imageDirectory: unquote("/wp-content/themes/twentytwelve-profec/images");

// Colors Settings ===> http://www.colorhexa.com/711100
//$white: #fdfef7;
$white: #fff;
$black: #000; // this is no longer valid and should be removed.
$grey: #c7c0a9;
$lightGrey: #f2f2f2;
$lightBrown: #a2632e;
$darkBrown: #883e00;
$orange: #e26700;
$pinks: #fbdbc0;
$maroon: #110803;
$bodyColor: #c7c0a9;
$primary-color: #711100;
$primary-color2: lighten($primary-color, 13%); // used in the footer
$primary-color3: darken($bodyColor, 0.25%); // used for panels and some callouts
$secondaryColor: darken($primary-color, 30%);
$topbar-bg: #311208;
$darkEdge: rgba(#000, .2); // this is no longer valid and should be removed.

#masthead {
    background-color: $primary-color;
	 // background-image: url("#{$imageDirectory}/headerBG.jpg") repeat center top;
    border-bottom: 3px solid $primary-color;
    color: $white;
	 height:$topbar-height + 50px;
    
    h1, h2, h3, h4, h5, h6, a, p {
        color:$white;
    }
        
    .nav-bar {
        background: $primary-color;
        //margin-bottom: 0;
        color: $maroon;
        //font-weight: 500;
    }
    
    .contain-to-grid {
        box-shadow: 5px 5px 13px 1px rgba(14, 10, 8, 0.69);
    }
}



.site-content {
	background-color: $white;
	padding-top: 13px;
	// margin-bottom: 13px;
	height: auto;

	img.featured {
		//border: 5px solid $white;
		@include thumb(5px);
	}

	#content {
		header {
			margin-bottom: 25px;
		}
		
		article {
			footer {
				line-height: $paragraph-aside-line-height / 2;
				padding-top: 13px;
				font-size: emCalc($em-base - 3);
				
				.panel {
					padding: unquote(($paragraph-aside-line-height / 2) + "em");
				}
			}
		}
	}
}

li {
	a.th {
		img {
			margin-bottom: -5px;
		}
	}
}

footer{
	background: $lightGrey;
	border-top: 1px solid $darkEdge;
	color: lighten($black, 30%);
	padding-top: 25px;
    
    aside {
        ul {
            li {
                list-style-type: none;
            }
        }
        
        table #wp-calendar{
            max-width: 100%;
            height: auto;
        }
        
        .widget {
            padding: 13px;
        }
    }
	
	&.entry-meta {
		background: none;
		border: none;
		
		.panel {
			padding: .75em;
		}
		
		.vcard {
			margin:0;
			padding:3px;
		}
	}

	#colophon {    
		h1, h2, h3, h4, h5, h6, a, p {
			color: lighten($black, 30%);
		}
	}
}

.orbit-container {
	.orbit-slides-container {
		height: 640px !important;
		
		img {
			display: inline-block;
		}
	}
}
