// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/foundation-global";
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms";
// @import "foundation/components/custom-forms";
// @import "foundation/components/button-groups";
// @import "foundation/components/dropdown-buttons";
// @import "foundation/components/split-buttons";
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

// Import Custom Fonts and set defaults
@import "fonts";
$headerFontFamily: quote($headerFamily), sans-serif;
$bodyFontFamily: quote($bodyFamily), sans-serif;

// Colors Settings ===> http://www.colorhexa.com/711100
$white: #fdfef7;
$black: #000; // this is no longer valid and should be removed.
$grey: #c7c0a9;
$lightGrey: #f2f2f2;
$lightBrown: #a2632e;
$darkBrown: #883e00;
$orange: #e26700;
$pinks: #fbdbc0;
$maroon: #110803;
$bodyColor: #c7c0a9;
$mainColor: #711100;
$mainColor2: lighten($mainColor, 67%); // used in the footer
$mainColor3: darken($bodyColor, 0.25%); // used for panels and some callouts
$secondaryColor: darken($mainColor, 30%);
$topbar-bg: #311208;
$darkEdge: rgba(#000, .2); // this is no longer valid and should be removed.

#masthead {
    background: $mainColor url("images/headerBG.jpg") repeat center top;
    border-bottom: 3px solid $mainColor;
    color: $white;
	 margin-bottom: 13px;
    
    h1, h2, h3, h4, h5, h6, a, p {
        color:$white;
    }
    
    h1 {
        // font-size: 72px;
        // font-weight: 400;
        // padding: 7px 0;
        text-align: center;
        
        @media only screen and (max-width: 1023px) and (orientation: landscape){
            font-size: 72px;
        }
        
        @media only screen and (max-width: 1023px) and (orientation: portrait){
            font-size: 68px;
				// 400%
        }
        
        @media only screen and (max-width: 767px) and (orientation: landscape){
            font-size: 42px;
				// 300%
        }
        
        @media only screen and (max-width: 767px) and (orientation: portrait){
            font-size: 27px;
				// 196%
        }
    }
    
    .nav-bar {
        background: $mainColor;
        margin-bottom: 0;
        color: $maroon;
        font-weight: 500;
    }
    
    .contain-to-grid {
        box-shadow: 5px 5px 13px 1px rgba(14, 10, 8, 0.69);
    }
}

footer#colophon {
    height: 100px;
    background: $mainColor2;
    border-top: 1px solid $darkEdge;
    color: lighten($black, 30%);
    padding-top: 25px;
    
    h1, h2, h3, h4, h5, h6, a, p {
        color: lighten($black, 30%);
    }
}