
.DS_Store

# Ignore SASS Cache Files
*/.sass-cache

# Ignore Wordpress Core Files
test.profec.net/wp-admin
test.profec.net/wp-includes
test.profec.net/wp-*.php
test.profec.net/readme.html
test.profec.net/favicon.gif
test.profec.net/favicon.ico
test.profec.net/license.txt
test.profec.net/quickstart.html
test.profec.net/index.php
test.profec.net/xmlrpc.php

#ignore temp & tmp files
tmp
temp

testSite/fonts/webicons-master
testSite/fonts/social_*
testSite/fonts/accessibility_*
