// Variables
$siteTitleFamily: unquote("Droid Serif");
$headerFamily: unquote("Droid Serif");
$bodyFamily: unquote("Raleway");
//$tooltipFamily: unquote("Helvetica+Neue")

// Site Title
@import url("http://fonts.googleapis.com/css?family=#{$siteTitleFamily}:400");

// Headers
@import url("http://fonts.googleapis.com/css?family=#{$headerFamily}:400");

// Body
@import url("http://fonts.googleapis.com/css?family=#{$bodyFamily}:400italic,700italic,400,700");

// Tooltips
// @import url("http://fonts.googleapis.com/css?family=$tooltipFamily:400italic,600italic,700italic,800italic,400,600,700,800");
