// Variables
$siteTitleFamily: unquote("Dynalight"); // Dynalight, Yellowtail, Arizona, Bangers
$headerFamily: unquote("Raleway"); // Quintessential, Droid Serif, Bangers
$bodyFamily: unquote("Raleway");
//$tooltipFamily: unquote("Helvetica+Neue")

// Site Title
@import url("http://fonts.googleapis.com/css?family=#{$siteTitleFamily}:400");

// Headers
@import url("http://fonts.googleapis.com/css?family=#{$headerFamily}:700,700italic");

// Body
@import url("http://fonts.googleapis.com/css?family=#{$bodyFamily}:400italic,400");

// Tooltips
// @import url("http://fonts.googleapis.com/css?family=$tooltipFamily:400italic,600italic,700italic,800italic,400,600,700,800");

/*
// Foundation Font Support
@mixin i-class($name,$pua) {
  .#{$classPrefix}#{$name}:before { 
    content: "\f#{$pua}";
  }
}

@mixin ie-class($name,$pua) {
  .#{$classPrefix}#{$name} { 
    *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf#{$pua};"); 
  }
}

@mixin face($path, $name) {
  @font-face { 
    font-family: $name; //$fontName
    src: url('#{$path}.eot'); //$fontFileName
    src: url('#{$path}.eot?#iefix') format('embedded-opentype'),
         url('#{$path}.woff') format('woff'),
         url('#{$path}.ttf') format('truetype'),
         url('#{$path}.svg##{$fontName}') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

// Foundation Social Font Icons
@import "social-foundicons";
*/

// FC Webicons by Fairhead Creative http://fairheadcreative.com
@import "../fonts/webicons-master/fc-webicons.css";
.fc-webicon.xlarge {
	width: 65px;
	height: 65px;
	margin:0 3px 13px 0;
/*
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
*/
	@include border-radius(9px);
}
